<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLZ9oWtkIVUL_I79v_HUEdBNaeKjQp-8I</string>
	<key>GCM_SENDER_ID</key>
	<string>715790868859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>web.skillcroma</string>
	<key>PROJECT_ID</key>
	<string>skillcroma-web</string>
	<key>STORAGE_BUCKET</key>
	<string>skillcroma-web.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715790868859:ios:fac3e8a45c127ee15d5dde</string>
</dict>
</plist>